<h1>My costumes</h1>

<%= link_to "Add a costume", new_costume_path  %>
  <% @my_costumes.each do |costume| %>
    <div class="row align-items-center">
    <div class="col-8">
      <div class="card-product">
        <%= cl_image_tag costume.photo.key, crop: :fill if costume.photo.attached? %>
        <div class="card-product-infos">
          <h2><%= costume.description %></h2>
          <p>Catégorie : <%= costume.theme %></p>
          <p>Taille : <%= costume.size %></p>
          <p>Genre : <%= costume.gender %></p>
          <p>Prix : <%= costume.price %> €/jour</p>
        </div>
       <div >
         <%= link_to "Edit", edit_costume_path(costume), class: "btn btn-secondary" %>
         <%= link_to "Delete",
            costume_path(costume),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger"  %>
       </div>
      </div>
    </div>
    <div class="card-booking-requests col-4" text><h4>Booking requests</h4>
        <div class="card-booking-status">
          <ul class="p-1"> Pending:
          <% costume.bookings.select do |booking|  %>
            <% if booking.status == 'pending' %>
              <li>
                <%= booking.start_date %> -
                <%= booking.end_date %>
              </li>
            <% end %>
          </ul>
          <% end %>
        </div>
        <div class="card-booking-status">
          <ul class="p-1"> Approved:
          <% costume.bookings.select do |booking|  %>
            <% if booking.status == 'approved' %>
              <li>
                <%= booking.start_date %> -
                <%= booking.end_date %>
              </li>
            <% end %>
          </ul>
          <% end %>
        </div>
        <div class="card-booking-status">
          <ul class="p-1"> Denied:
          <% costume.bookings.select do |booking|  %>
            <% if booking.status == 'denied' %>
              <li>
                <%= booking.start_date %> -
                <%= booking.end_date %>
              </li>
            <% end %>
          </ul>
          <% end %>
        </div>
    </div>
  </div>
    <% end %>
