<div style="background-color: #F4F4F4">
  <div class="container main_container">
    <div class="row my-2" style= "position: relative;">

      <div class=col-7>
        <h2>My costumes</h2>
        <div class="cards" name='cards-grid'>
          <% @my_costumes.each do |costume| %>
            <%= link_to costume_path(costume), class: "card-links" do %>
                <div class="card-costume">
                  <div class="image">
                    <%= cl_image_tag costume.photo.key, class: 'card-costume-image' if costume.photo.attached? %>
                    <h6 class="card-trip-pricing text-black"><%= costume.price %>€</h6>
                  </div>
                  <div class="card-costume-infos">
                    <div>
                      <h6><%= costume.title.capitalize%></h6>
                    </div>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-5">
        <h2>Requests on my costumes</h2>
        <div class="card-booking-requests" name="my-booking-requests-cards">
          <div class="card-grid">

              <div class="card-booking-status pending-zone" id="pending">
                <ul class="p-1" style="font-size: 18px; font-weight: bold"> Pending
                <% @my_costumes.each do |costume| %>
                  <% costume.bookings.select do |booking|  %>
                    <% if booking.status == 'pending' %>
                      <div class="d-flex draggable-item" id="<%= booking.id %>" draggable="true">
                        <li>
                          <%= costume.title %>:
                          <%= booking.start_date %> to
                          <%= booking.end_date %>
                        </li>
                        <div class="d-flex">
                          <div class="pl-2">
                            <%= link_to approve_booking_path(booking), class: 'approved-btn', remote: true, data: { turbolinks: false } do %>
                            <i class="fas fa-check"></i>
                            <% end %>
                          </div>
                          <div class="px-2">
                            <%= link_to deny_booking_path(booking), remote: true, data: { turbolinks: false } do %>
                            <i class="fas fa-window-close"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </ul>
                <% end %>
              </div>

              <div class="card-booking-status approved-zone" id="approved">
                <ul class="p-1" style="font-size: 18px; font-weight: bold"> Approved
                <% @my_costumes.each do |costume| %>
                  <% costume.bookings.select do |booking|  %>
                    <% if booking.status == 'approved' %>
                      <div class="d-flex">
                        <li>
                          <%= costume.title %>:
                          <%= booking.start_date %> to
                          <%= booking.end_date %>
                        </li>
                        <div class="d-flex">
                          <div class="px-2">
                            <%= link_to deny_booking_path(booking), remote: true, data: { turbolinks: false } do %>
                            <i class="fas fa-window-close"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </ul>
                <% end %>
              </div>

              <div class="card-booking-status" id="denied">
                <ul class="p-1" style="font-size: 18px; font-weight: bold"> Denied
                <% @my_costumes.each do |costume| %>
                  <% costume.bookings.select do |booking|  %>
                    <% if booking.status == 'denied' %>
                      <div class="d-flex ">
                        <li>
                          <%= costume.title %>
                          <%= booking.start_date %> to
                          <%= booking.end_date %>
                        </li>
                        <div class="d-flex">
                          <div class="px-2">
                            <%= link_to approve_booking_path(booking), remote: true, data: { turbolinks: false } do %>
                            <i class="fas fa-check"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </ul>
                <% end %>
              </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>
