
<div class="container-fluid main_container my-4">
  <div class="row align-items-center card-product">
    <div class="col-6 h-100" style="background-image:url('<%= cl_image_path @costume.photo.key if @costume.photo.attached? %>'); background-size:contain; background-repeat:no-repeat; background-position: center">
    </div>
    <div class="col-3 h-100 d-flex flex-column align-items-left">
      <div>
        <h1><%=@costume.title%></h1>
        <div class="calendar p-4">
          <%= simple_form_for [@costume, @booking] do |f| %>
            <%= f.input :start_date, placeholder: "📅 From - next party date", as: :string, required: false, label: false, input_html: {class: "datepicker input-group"}%>
            <%=f.input :end_date, placeholder: "📅 Until - next hungover date", as: :string, required: false, label: false, input_html: {class: "datepicker"} %>
            <%= f.button :submit, "Book me 👻", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div class="card-product-infos h-50">

        <div class="d-flex justify-content-between">
          <span style="padding: 10px"> <i class="fas fa-theater-masks"></i> <%= @costume.theme %></span>
          <span style="padding: 10px"> <i class="far fa-hand-lizard"></i> <%= "size #{@costume.size}" %></span>
          <span style="padding: 10px"> <i class="fas fa-coins"></i> <%= @costume.price %> €/day</span>
        </div>
          <span style="padding: 10px"> <i class="fas fa-map-pin"></i> <%= @costume.location %></span><br><br>
          <span style="padding: 10px" > <i class="fas fa-info-circle"></i> <%= "#{@costume.description}" %></span
      </div>
  </div>
</div>
</div>
</div>


