
<div class="container main_container my-4">
  <div class="row align-items-center" style="height: 600px; background-color: white; border-radius: 5px; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
    <div class="col-6 h-100" style="background-image:url('<%= cl_image_path @costume.photo.key if @costume.photo.attached? %>'); background-size:contain; background-repeat:no-repeat; background-position: center">
    </div>
    <div class="col-6 h-100 d-flex flex-column" style="background-color:#FFEEEE">
      <div class="h-50" style="margin-top:20px">
        <h2>I want to be a <%= @costume.title %> !</h2>
        <%= simple_form_for [@costume, @booking] do |f| %>
          <%= f.input :start_date, label: "Start date:", placeholder: "📅 Select date...", as: :string, required: false, input_html: {class: "datepicker input-group"}%>
          <a class="input-btn" data-toggle><i class="icon-calendar"></i></a>
         <%=f.input :end_date, label: "End date:",placeholder: "📅  Select date...", as: :string, required: false, input_html: {class: "datepicker"} %>
          <%= f.button :submit, "Go 👻", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="h-50" style="margin-top:20px">
        <h2><%= @costume.title.capitalize %></h2>
        <div class="d-flex justify-content-between">
          <span style="padding: 10px"> <i class="fas fa-theater-masks"></i> <%= @costume.theme %></span>
          <span style="padding: 10px"> <i class="far fa-hand-lizard"></i> <%= "size #{@costume.size}" %></span>
          <span style="padding: 10px"> <i class="fas fa-coins"></i> <%= @costume.price %> €/day</span>
          <span style="padding: 10px"> <i class="fas fa-map-pin"></i> <%= @costume.location %></span>
        </div>
          <span style="padding: 10px" > <i class="fas fa-info-circle"></i> <%= "#{@costume.description}" %></span
      </div>
  </div>
</div>
</div>
</div>


