<div class="row">
  <h2><%= @costume.description %></h2>
</div>

<div class="row">
  <div class="col-8">
    <div class="card-product">
      <%= cl_image_tag @costume.photo.key if @costume.photo.attached? %>
      <div class="flex-grow card-product-infos">
        <h2><%= @costume.description %></h2>
        <p>Catégorie : <%= @costume.theme %></p>
        <p>Taille : <%= @costume.size %></p>
        <p>Genre : <%= @costume.gender %></p>
        <p>Prix : <%= @costume.price %> €/jour</p>
      </div>
    </div>
  </div>
  <div class = "col 3">
    <h3>Je réserve :</h3>
    <%= simple_form_for [@costume, @booking] do |f| %>
      <%= f.input :start_date, label: "Du:", placeholder: "Select Date..", as: :string, required: false, input_html: {class: "datepicker"}%>
      <%=f.input :end_date, label: "au:",placeholder: "Select Date..", as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.button :submit, "je me déguise", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>


