
<div class="container main_container my-4">

  <div class="row">
    <h1>My bookings</h1>
  </div>

  <% @bookings.reverse.each do |booking| %>
    <% if booking.status != 'cancelled' %>
      <div class="row">
        <div class="card-booking">
          <%= cl_image_tag booking.costume.photo.key if booking.costume.photo.attached? %>
          <div class="col-9 h-100 d-flex flex-column">
            <div class="card-booking-infos d-flex justify-content-between">
              <h1><%= booking.costume.title %></h1>
              <div class="d-flex flex-column">
                <p>From : <%= booking.start_date %></p>
                <p>Until : <%= booking.end_date %></p>
                <p>Price : <%= (booking.end_date - booking.start_date).to_i*booking.costume.price %> €</p>
                <%= link_to "Cancel", cancel_booking_path(booking), remote: true, data: { turbolinks: false }, class: "btn" %>
              </div>
            </div>
            <div class="card-booking-infos d-flex flex-column justify-content-around">
              <% if booking.review != nil %>
                <h4>Your review</h4>
                <p>Rating : <%= booking.review.rating %></p>
                <p><%= booking.review.content %></p>
                <%= link_to review_path(booking.review),
                              method: :delete,
                              data: { confirm: "Are you sure?" }  do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
              <% else %>
                <h4>Add a review</h4>
                <%= simple_form_for [booking, @review] do |f| %>
                <div class="d-flex py-4">
                    <%= f.input :booking_id, as: :hidden, input_html: {value: booking.id} %>
                  <div style="width: 100px; margin-right: 5px">
                    <%= f.input :rating, collection: Review::RATINGS, label: false %>
                  </div>
                  <div class="flex-grow-1" style="margin-right: 5px">
                    <%= f.input :content, placeholder: "It was amazing! 🥳", as: :string, label: false %>
                  </div>
                  <div style="padding:5px">
                    <%= f.submit "Post my review" %>
                  </div>
                </div>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>

      </div>
    <% end %>
  <% end %>
</div>
