
<div class="container main_container my-4">

  <div class="row">
    <h1>My bookings</h1>
  </div>

<% @bookings.each do |booking| %>
  <% if booking.status != 'cancelled' %>
    <div class="row">
      <div class="col-9">
        <div class="card-booking">
          <%= cl_image_tag booking.costume.photo.key if booking.costume.photo.attached? %>
          <div class="card-booking-infos">
            <h2><%= booking.costume.description %></h2>
            <p>Start date : <%= booking.start_date %></p>
            <p>End date : <%= booking.end_date %></p>
          </div>
          <div>
            <% if booking.review != nil %>
              <h3>Your review</h3>
              <p>Rating : <%= booking.review.rating %></p>
              <p><%= booking.review.content %></p>
              <%= link_to review_path(booking.review),
                            method: :delete,
                            data: { confirm: "Are you sure?" }  do %>
              <i class="fas fa-trash-alt"></i>
              <% end %>
            <% else %>
              <h3>Add a review</h3>
              <%= simple_form_for [booking, @review] do |f| %>
                <%= f.input :booking_id, as: :hidden, input_html: {value: booking.id} %>
                <%= f.input :rating, collection: Review::RATINGS %>
                <%= f.input :content %>
                <%= f.submit %>
              <% end %>
            <% end %>
          </div>
        </div>
        <%= link_to "Cancel", cancel_booking_path(booking), remote: true, data: { turbolinks: false } %>
    </div>
    <% end %>
  <% end %>
</div>
